<h1>About</h1>

<p>LyrAssist was created by <a href="http://devongrove.com">Devon Grove</a>.Artist bios and images are graciously provided by
  <a href="https://last.fm">Last.fm's</a> API, and lyrics data courtesy of <a href="http://mldb.org">MLDB</a>.

<ul>
  <li>This project is serverless! Our backend is deployed using Amazon Web Services (AWS) Lambda functions and
    an Amazon Aurora database configuration</li>
</ul>
<p>Please note this project is not-for-profit and is not intended for commercial use.</p>